<template name="landing">
      <div class="jumbotron jumbo-header vertical-center">
        <div class="container-fluid">
          <div class="row">
        <strong>  <h1 style="color:white">Connecting pet owners through pets!</h1> </strong>
          </div> <!-- jumbotron text -->
  <br>
          <div class="container form-size">
            <div class="row">
              <form>
                <div class="form-group">
                  <label class="sr-only" for="email">Email Address</label>
                  <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-envelope"> </span>
                    </div>
                    <input type="textbox" class="form-control" id="emailAddress" placeholder="Enter your email and keep up with the latest Petpal News">
                    <span class="input-group-btn"><button type="btn-primary" class="btn btn-primary btn-lg ppbutt">Send</button></span>
                  </div>
                </div>
              </form>
            </div>
          </div> <!-- email form -->
        </div> <!-- text container -->
      </div> <!-- end jumbotron -->
    <div class="container text-center transform-up">
      <h1> Brining together pet lovers and building an ecosystem where they can share, discover, meet new pets and new people</h1>
  <br>
    </div> <!-- Catch Phrase -->
  <br>
  <hr> <!-- line/ 1st page break -->

  <div class="container">
    <div class="row">

    <!-- 1 Sign Up -->
      <div class="col-xs-6 col-md-4" style="background-color: green">
          <div class="row">
            <div class="col-xs-3">
              <img class="img-responsive" src="/images/landing/01num.png">
            </div>
            <div class="col-xs-8">
              <strong>Sign Up For Free</strong> <span class="hidden-xs"> and build an awesome pet profile</span>
            </div>
          </div>
          <div class="row center-block">
            <img class="img-responsive" src="/images/landing/01pic.png">
          </div>
      </div> <!-- end 1 -->

    <!-- 2 Connect -->
      <div class="col-xs-6 col-md-4" style="background-color: blue">
          <div class="row">
            <div class="col-xs-3">
              <img class="img-responsive" src="/images/landing/02num.png">
            </div>
            <div class="col-xs-9 text-left">
            <strong> Connect with friends</strong> <span class="hidden-xs">and share photos and videos of your pet</span>
            </div>
          </div>
          <div class="row">
            <img class="img-responsive" src="/images/landing/02pic.png">
          </div>
      </div> <!-- end 2 -->
    <!-- 3 Find Friends -->
      <div class="col-xs-6 col-md-4" style="background-color: yellow">
          <div class="row">
            <div class="col-xs-3">
              <img class="img-responsive" src="/images/landing/03num.png">
            </div>
            <div class="col-xs-8 text-left">
              <strong>Find your friends on Petpal</strong>
            </div>
            <img class="img-responsive" src="/images/landing/03pic.png">
          </div>
        </div> <!-- end 3 -->
    <!-- 4 Discuss-->
      <div class="col-xs-6 col-md-4" style="background-color: orange">
          <div class="row">
            <div class="col-xs-3">
              <img class="img-responsive" src="/images/landing/04num.png">
            </div>
            <div class="col-xs-8 text-left">
              <strong>Discuss</strong><span class="hidden-xs"> your favorite (or least favorite) products, vets, and parks</span>
            </div>
            <img class="img-responsive" src="/images/landing/04pic.png">
          </div>
      </div> <!-- end 4 -->
    <!-- 5 Amber -->
      <div class="col-xs-6 col-md-4" style="background-color: red">
          <div class="row">
            <div class="col-xs-3">
              <img class="img-responsive" src="/images/landing/05num.png">
            </div>
            <div class="col-xs-8 text-left">
              <strong>Amber alert for Pets.</strong><span class="hidden-xs"> If your pet gets lost, alert local users</span>
            </div>
            <img class="img-responsive" src="/images/landing/05pic.png">
          </div>
      </div> <!-- end 5 -->
    <!-- 6 Share Knowledge-->
      <div class="col-xs-6 col-md-4" style="background-color: purple">
          <div class="row">
            <div class="col-xs-3">
              <img class="img-responsive" src="/images/landing/06num.png">
            </div>
            <div class="col-xs-8 text-left">
              <strong>Share your pet knowledge</strong><span class="hidden-xs">  with other owners in the community (Tip of the day)</span>
            </div>
            <img class="img-responsive" src="/images/landing/06pic.png">
          </div>
      </div> <!-- end 6 -->
    </div>

  </div>
  <br><br>

<div class="container-fluid">
  <div class="row">
    <img class="full-page" src="/images/landing/intro.png" alt="" />
  </div>
</div>
<div class="container">
  <div class="container-fixed" style="background-color: #F4F4F4; padding: 70px;">
  <div class="row text-center">
    <h4> Social Media Platform for Pet Owners </h4>
  </div>
  <div class="row text-center">
    <a href="http://www.facebook.com"> <img src="/images/fbbutton.png"> </a>  &nbsp; &nbsp; &nbsp;
    <a href="http://www.twitter.com"> <img src="/images/twitterbutton.png"></a>  &nbsp; &nbsp; &nbsp;
    <a href="http://www.gplus.com"> <img src="/images/gplusbutton.png"></a>  &nbsp; &nbsp; &nbsp;
  </div>
</div>
</div>

</template>
