<template name="home">
  <div class="template-home">


<br>
<br>
<br>
<br>
<br>
<div class="text-center">
  <h1 class="white-text thin large-text">Connecting People Through Their Pets</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row text-center no-top-padding">
  <a href="{{ pathFor 'atSignIn' }}" class="btn btn-xl-lg btn-inverted-white">Sign In</a>
  <a href="{{ pathFor 'atSignUp' }}" class="btn btn-xl-lg btn-white">Join</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </div>

</template>
