<template name="home">
  <div class="template-home">


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="white-text">JOIN THE PACK...</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="row text-center no-top-padding">
      {{#if currentUser}}
      <a href="dashboard/{{currentUser.username}}" class="btn btn-lg btn-default brand-color-background rounded white-text shadow">Profile</a>
      {{else}}
      <a href="{{ pathFor 'atSignIn' }}" class="btn btn-lg btn-default compliment-color-background rounded white-text shadow">Sign in</a>
      <a href="{{ pathFor 'atSignUp' }}" class="btn btn-lg btn-default brand-color-background rounded white-text shadow">Register</a>
      {{/if}}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</template>
