template(name='home')
  .template-home
    br
    br
    br
    br
    br
    .text-center
      h1.white-text.thin.large-text Connecting People Through Their Pets
    br
    br
    br
    br
    br
    br
    br
    .row.text-center.no-top-padding
      a.btn.btn-xl-lg.btn-inverted-white(href="{{ pathFor 'atSignIn' }}") Sign In
      a.btn.btn-xl-lg.btn-white(href="{{ pathFor 'atSignUp' }}") Join
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
