<template name="home">
  <div class="template-home">
    <div class="row text-center no-top-padding">
        <h1 class="dark-text shadow thin text-overlay" >
          Run with the pack
        </h1>
        {{#if currentUser}}
        <a href="dashboard/{{thisDog.username}}" class="btn btn-brand navbar-btn">Profile</a>
        {{else}}
        <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
        <a href="{{ pathFor 'atSignUp' }}" class="btn btn-brand navbar-btn">Register</a>
        {{/if}}
        <img class="img-responsive profile-pic background-pic" src="/images/dogsHiking.png">
      </div>


  </div>



</template>
