<template name="photos">
  <div class="container-fluid">


  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="/dashboard/{{thisDog.username}}" class="" ><i class="fa fa-arrow-circle-left"> Back to {{thisDog.username}}'s Profile</i></a>
      </div>
    </div>
  </div>

<div class="row">
  <h3 class="dark-text">{{thisDog.name}}'s Pics'</h3>
</div>
  <!-- display the photos here -->
  <div class="row">
    {{#each thisDogsPhotos}}

    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <a href="{{source}}"> <img src="{{source}}" alt="{{source}}"></a>
      </a>
    </div>
    {{/each}}
  </div>
</div>

</template>
