<template name="search">
  <div class="container-fluid">

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="/dashboard/{{thisDog.username}}" class="" ><i class="fa fa-arrow-circle-left"> Back to {{thisDog.username}}'s Profile</i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-group text-center">
        <span class="input-group-btn">
        </span>
        <input class="form-control typeahead friend-search" name="team" type="text"
        placeholder="Pets need friends too..."
        autocomplete="off" spellcheck="off"
        data-source="Dogfriends" id="dogToSearchFor"/>
        <span class="input-group-btn">
          <button class="btn btn-default btn-add-on"  data-action="searchForDog" type="button">   <i class="fa fa-arrow-circle-right"></i></button>
        </span>
      </div>
    </div>



  </div>
</template>
